body, html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font: 400 1.2rem/1.4em "Palatino";
    letter-spacing: 0.3em;
    position: relative;
}

@media (max-width: 1024px) {
    body, html {
        font-size: 0.9rem;
        letter-spacing: 0.2em;
    }
}

/*startseite*/
.mainImg {
    background-image: url("../images/Coverbild.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#character_justify {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

#character_justify * {
    margin: 0;
    padding: 0;
    border: none;
}

.title {
    border-radius: 20px;
    --bs-bg-opacity: .65;
}

.quote {
    position: relative;
    width: 100%;
    text-align: center;
}

.text {
    width: 100%;
    text-align: justify;
}

/*@media (max-width: 1024px) {*/
/*    .text {*/
/*        text-align: start;*/
/*    }*/
/*}*/

@media (min-width: 1024px) {
    .break-md {
        text-align: start;
    }
}

.nav-link {
    padding: 0;
}


/*2. seite*/
.bg-grey {
    background-image: url("../images/Notenschlüssel.png");
    background-position: center top 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #dbd6d4;
}

/*3. seite*/
.bg-grey {
    background-color: #eeeeef;
}

.button-link {
    text-decoration: none;
    letter-spacing: 0;
    background-image: url("../images/button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-musikalische-untermalung {
    background: #bfab8f;
}

.bg-klavierunterricht {
    background: #c4b19e;
}

.bg-gesangscoaching {
    background: #c1bbb7;
}

.bg-foamwhite {
    background: #c1bdbc;
}

/*Preise*/
.text-vertical-display {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.position{

}

.bg-preise{
    background-color: #e6d5b8;
}

.price-box{
    max-width: 80%;
    background-color: #ffffff;
    position: relative;
    bottom: 15%;
}
/* Übermich*/
.bg-übermich{
    background-color: darkgrey;
}

/*Ausbildung*/
.bg-ausbildung{
    background-color: darkgrey;
}