body, html {
    height: 100%;
    margin: 0;
    font: 400 1.2rem/1.4em "Palatino";
    letter-spacing: 0.3em;
    position: relative;
}

@media (max-width: 1024px) {
    body, html {
        font-size: 0.9rem;
        letter-spacing: 0.2em;
    }
}

/*startseite*/
.mainImg {
    background-image: url("../images/Coverbild.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#character_justify {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

#character_justify * {
    margin: 0;
    padding: 0;
    border: none;
}

.title {
    border-radius: 20px;
    --bs-bg-opacity: .65;
}

.quote {
    position: relative;
    width: 100%;
    text-align: center;
}

.text {
    width: 100%;
    text-align: justify;
}

@media (max-width: 1024px) {
    .text {
        text-align: start;
    }
}

@media (min-width: 1024px) {
    .break-md {
        text-align: start;
    }
}


/*2seite*/
.bg-grey{
    background-color: #dbd6d4;
}

/**/

